.discover{
    padding-left: 30px;
    padding-right: 5px;
    margin-top: 20px;
}
.discover__section{
    display: flex;
    flex-direction: row;
    padding: 20px;
    overflow-x: scroll;
}
.discover__section::-webkit-scrollbar{
    display: none;
}
