

.live__detail > img {
    border-radius: 10px;
    margin-bottom: 10px;
    width: 353px;
    height: 353px;

}

.live__detail > h4 {
    font-size: 16px;
}

.livecard{
    margin-right: 20px;
    transition: transform 100ms ease-in;
    cursor: pointer;
}

.livecard:hover{
    transform: scale(1.08);
}

