.guest__maturity{
    display: flex;
    margin: 0.5vw;
    padding: 0.5vw;
}
.guest__left{
    margin: 5px;
    padding: 5px;

}

.guest__left > p{
    font-size:smaller;
}
.guest__right{
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 5px;
    justify-content: space-between;
}

.guest__right > button {
    background-color: transparent;
    border:1px solid rgba(128, 128, 128, 0.589);
    border-radius: 999px;
    width: 30px;
    margin: 5px;
    padding: 5px;
    color: rgba(0, 0, 0, 0.644);
}

